
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Ejemplos_Plots_Plotly.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/ingenieria_de_variables.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/ingenieria_variables_texto.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Nubes de Palabras.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/olap_oltp.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/outliers.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/outliers_missings.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Plotly.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Dataframes Python.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/example.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Excel_Sample.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Introducción a Python.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Screenshot from 2021-11-20 01-15-30.png
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Reduccion dimensionalidad.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Transformación entrópica.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Visualizacion Texto.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_edad.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_escolaridad.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_ocupacion.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_sexo.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/data_jalisco.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/Levenshtein Distance.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/amlo.txt
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/datos_muestra.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/datos_mustra_1.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/feat_ing.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/News_Category_Dataset.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/penguins_size_.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/diccionario.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/olap.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/oltp.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/outliers_missings/data_cleaning_housing.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/outliers_missings/dataset_house_prices.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/transformacion_entropica/default of credit card clients_1.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Examen/data_examen.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Examen/Examen_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/G21 - LISTA.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/G21- Datasets.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/DataFlow/Data_Cleaning.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/DataFlow/DataFlow.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Diplomado_Ciencia_Datos_Resumen.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/proyecto_final_preciado_rivera_maria_fernanda.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/proyecto_hernandez_gonzalez_ricardo_paramont.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/ProyectoFinal_RocioOrtegaKingston.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo1.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo2.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo3.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejercicio-TAD.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Hoja de cálculo sin título.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/INGENIERIA.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Instalación.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/LOF.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ La Ciencia de Datos en el Mundo Actual.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ OLTP, OLAP.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ Outliers.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ Train, Test.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Módulo 1.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/PRACTICA_WOE.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Proyecto Final.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Reducción de Dimensiones.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Supervisado_NoSupervisado.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Transformacion entropica.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/WOE.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_1/G21_practica_1.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_1/practica_1_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/creditscoring_data.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/listings.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/reviews.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/diccionario.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/ocupaciones_examen.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/PRACTICA_2_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/practica_2_modulo_3.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/practica_2_parte1-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/practica_2_parte_2-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/proceso_practica_2-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/__pycache__/library.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/__pycache__/libreria.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/library.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/libreria.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/mapbox_access_token
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/2022_03_data_airbnb.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/2022_03_data_airbnb_v2.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/imputer.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/man_max.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/onehotencoder.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/standard_scaler.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/vars_categoricas.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/vars_continuas.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/calendar.csv.gz
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/listings.csv.gz
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/reviews.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data_airbnb_calendar.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data_airbnb_reviews.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/all_process.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/all_process.cpython-38.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/process.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/process.cpython-38.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/all_process.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/process.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/rename_columns.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/tsne.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica_2_parte1.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica_2_parte_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/proceso_practica_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion_practica_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/VariablesList.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/TEMARIO.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Análisis Exploratorio.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Calidad de datos.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Ejemplos_Plots_Plotly.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/ingenieria_de_variables.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/ingenieria_variables_texto.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Nubes de Palabras.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/olap_oltp.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/outliers.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/outliers_missings.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Plotly.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Dataframes Python.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/example.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Excel_Sample.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Introducción a Python.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/PYTHON/Screenshot from 2021-11-20 01-15-30.png
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Reduccion dimensionalidad.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Transformación entrópica.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Código/Visualizacion Texto.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_edad.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_escolaridad.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_ocupacion.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/cat_sexo.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/data_jalisco.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/calidad_datos/Levenshtein Distance.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/amlo.txt
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/datos_muestra.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/datos_mustra_1.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/feat_ing.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/News_Category_Dataset.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/ingenieria/penguins_size_.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/diccionario.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/olap.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/olap_oltp/oltp.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/outliers_missings/data_cleaning_housing.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/outliers_missings/dataset_house_prices.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Data/transformacion_entropica/default of credit card clients_1.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Examen/data_examen.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Examen/Examen_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/G21 - LISTA.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/G21- Datasets.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/DataFlow/Data_Cleaning.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/DataFlow/DataFlow.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Diplomado_Ciencia_Datos_Resumen.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/proyecto_final_preciado_rivera_maria_fernanda.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/proyecto_hernandez_gonzalez_ricardo_paramont.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PDF/ProyectoFinal_RocioOrtegaKingston.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo1.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo2.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejemplos Proyecto Final/PRESENTACION/Ejemplo3.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Ejercicio-TAD.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Hoja de cálculo sin título.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/INGENIERIA.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Instalación.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/LOF.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ La Ciencia de Datos en el Mundo Actual.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ OLTP, OLAP.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ Outliers.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Modulo 1 _ Train, Test.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Módulo 1.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/PRACTICA_WOE.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Proyecto Final.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Reducción de Dimensiones.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Supervisado_NoSupervisado.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/Transformacion entropica.pptx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Material/WOE.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_1/G21_practica_1.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_1/practica_1_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/creditscoring_data.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/listings.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/data/reviews.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/diccionario.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/ocupaciones_examen.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/PRACTICA_2_G21.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/practica_2_modulo_3.pdf
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/practica_2_parte1-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/practica_2_parte_2-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/.ipynb_checkpoints/proceso_practica_2-checkpoint.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/__pycache__/library.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/__pycache__/libreria.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/library.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/libreria.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/mapbox_access_token
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/2022_03_data_airbnb.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/2022_03_data_airbnb_v2.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/GMM_cl_gmm_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/imputer.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/kmeans_cl_km_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/man_max.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/onehotencoder.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/standard_scaler.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/vars_categoricas.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/clases/vars_continuas.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/calendar.csv.gz
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/listings.csv.gz
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data/reviews.csv
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data_airbnb_calendar.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/data_airbnb_reviews.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_pca_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_pca_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_tsne_mm.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/df_tsne_sc.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/Inside Airbnb Data Dictionary.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/all_process.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/all_process.cpython-38.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/process.cpython-310.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/__pycache__/process.cpython-38.pyc
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/all_process.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/librerias/process.py
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/rename_columns.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica 2/tsne.pkl
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica_2_parte1.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/practica_2_parte_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion/proceso_practica_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/solucion_practica_2.ipynb
Diplomado Ciencia de Datos/Modulo 1/G21-M1/Prácticas/practica_2/VariablesList.xlsx
Diplomado Ciencia de Datos/Modulo 1/G21-M1/TEMARIO.xlsx
